<h1>Upload Tab Delimited File to Purchases Table</h1>

<%= form_tag  upload_csv_path() , :multipart => true, :id=>'csvfrm' %>

    <span class="btn btn-default btn-file">
        Browse for file <input id="csvfile" type="file" name="csvfile" >
    </span>
    <span id="file_name"></span>
    <button id="upload" type="submit" class="btn btn-success hidden">Upload</button>
    <br><br>
</form>

<%= render "purchase_table", purchases: @new_purchases,  table_title: 'Newly Uploaded Purchases', total: @total_uploaded_revenue if @new_purchases %>

<%= render "purchase_table", purchases: @purchases, table_title: 'All Purchases', total: @total_revenue if @purchases.count > 0 %>


<br>

<%= link_to 'New Purchase', new_purchase_path %>
